*{
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
  font-family: 'Fontdiner Swanky', cursive;
  color:hotpink;
}

.quest{
color: black;
font-family: 'Roboto Slab', serif;
}

#princess{
  height: 213px;
    width: 319px;
    margin-left:39%;
}

#match-img{
  text-align:center;
  width:200px;
  height: 100%;
  margin-left: 25%;
  margin-right: 20%;
}

a{
  text-decoration: none;
  color:hotpink;
}

#modal-title{
  text-align:center;
}



@media screen and (max-width: 768px) {

  #princess{
    margin-left: 34%;
}

}

@media screen and (max-width: 667px) {

  #princess{
    margin-left: 6%;
}

}